#Readme h1,
#Readme a[href="https://bobby-brennan.github.io/strapping"] {
  display: none;
}

#Preview {
  margin-top: 100px;
}

a {
  cursor: pointer;
}

.navbar-brand {
  font-family: "Kalam", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}


